body {
  font-family: 'Muli', sans-serif;
  font-family: 'Cormorant Unicase', serif;
  background-image: url('wood.png');
  }

@namespace svgns url(http://www.w3.org/2000/svg);

svgns|a {
  cursor: pointer;
}

svgns|a text {
  fill: blue; /* Even for text, SVG use fill over color */
  text-decoration: underline;
}

svgns|a:hover, svgns|a:active {
  outline: dotted 1px blue;
}